In [2]:
import pandas as pd
import re

In [70]:
f = open('WhatsApp Chat with Ravi Dasai.txt', 'r', encoding = 'utf-8')

In [71]:
data = f.read()

In [72]:
print(type(data))

<class 'str'>

In [73]:
pattern = r"\d{2}\/\d{2}\/\d{4},\s\d{2}:\d{2}\s-\s"

In [74]:
messages = re.split(pattern, data)[2:]
messages[0 : 3]

['Samarth: Ooy bhai\n', 'Ravi Dasai: Bol\n', 'Samarth: Aayi gayo phone\n']

In [75]:
dates = re.findall(pattern, data)[1:]
dates[0 : 5]

['07/10/2021, 13:42 - ',
 '07/10/2021, 13:42 - ',
 '07/10/2021, 13:42 - ',
 '07/10/2021, 13:43 - ',
 '07/10/2021, 13:43 - ']

In [76]:
df = pd.DataFrame({'Date & time' : dates, 'message' : messages})
df.head()

            Date & time                     message
0  07/10/2021, 13:42 -          Samarth: Ooy bhai\n
1  07/10/2021, 13:42 -            Ravi Dasai: Bol\n
2  07/10/2021, 13:42 -   Samarth: Aayi gayo phone\n
3  07/10/2021, 13:43 -   Ravi Dasai: Photo moklje\n
4  07/10/2021, 13:43 -                Samarth: ü•≥ü•≥\n

In [77]:
df.shape

(12055, 2)

In [78]:
df['Date & time'] = pd.to_datetime(df['Date & time'], format = '%d/%m/%Y, %H:%M - ')

In [79]:
df.sample(5)

              Date & time                                            message
113   2021-10-07 15:36:00                        Ravi Dasai: Ha jo he'd tu\n
7831  2022-02-04 17:00:00  Ravi Dasai: Laptop ma apdu modhu detect na tha...
8213  2022-02-25 19:41:00                                    Ravi Dasai: ü•∫\n
3554  2021-10-30 15:07:00      Ravi Dasai: Me angry shiva search maryu che\n
11414 2023-03-12 11:23:00                     Ravi Dasai: Avu to end m hoy\n

In [80]:
user = list()
msg = list()

for message in df['message'] :
    text = re.split(r'([\w\W]+?):\s', message)
    if text[1:] :
        user.append(text[1])
        msg.append(text[2])
    else :
        user.append('group_notification')
        msg.append(text[0])

df['users'] = user
df['msg'] = msg
df.head()

,Date & time,message,users,msg
0,2021-10-07 13:42:00,Samarth: Ooy bhai\n,Samarth,Ooy bhai\n
1,2021-10-07 13:42:00,Ravi Dasai: Bol\n,Ravi Dasai,Bol\n
2,2021-10-07 13:42:00,Samarth: Aayi gayo phone\n,Samarth,Aayi gayo phone\n
3,2021-10-07 13:43:00,Ravi Dasai: Photo moklje\n,Ravi Dasai,Photo moklje\n
4,2021-10-07 13:43:00,Samarth: ü•≥ü•≥\n,Samarth,ü•≥ü•≥\n

In [81]:
df['year'] = df['Date & time'].dt.year
df['month'] = df['Date & time'].dt.month_name()
df['day'] = df['Date & time'].dt.day
df['hour'] = df['Date & time'].dt.hour
df['minute'] = df['Date & time'].dt.minute

In [82]:
df.head()

,Date & time,message,users,msg,year,month,day,hour,minute
0,2021-10-07 13:42:00,Samarth: Ooy bhai\n,Samarth,Ooy bhai\n,2021,October,7,13,42
1,2021-10-07 13:42:00,Ravi Dasai: Bol\n,Ravi Dasai,Bol\n,2021,October,7,13,42
2,2021-10-07 13:42:00,Samarth: Aayi gayo phone\n,Samarth,Aayi gayo phone\n,2021,October,7,13,42
3,2021-10-07 13:43:00,Ravi Dasai: Photo moklje\n,Ravi Dasai,Photo moklje\n,2021,October,7,13,43
4,2021-10-07 13:43:00,Samarth: ü•≥ü•≥\n,Samarth,ü•≥ü•≥\n,2021,October,7,13,43

In [83]:
df = df.drop(columns = ['Date & time', 'message'])

In [98]:
df.tail()

,users,msg,year,month,day,hour,minute
12050,Samarth,<Media omitted>\n,2023,June,6,12,21
12051,Samarth,<Media omitted>\n,2023,June,6,12,22
12052,Ravi Dasai,<Media omitted>\n,2023,June,6,12,23
12053,Ravi Dasai,https://www.instagram.com/reel/CslX2PHtv97/?ig...,2023,June,8,0,50
12054,Ravi Dasai,https://www.instagram.com/reel/CtWNZGAgrzt/?ig...,2023,June,16,9,58

In [86]:
df['users'].unique().tolist()

['Samarth', 'Ravi Dasai']

In [96]:
df1 = df[df['users'] == 'Samarth']

In [108]:
df[df['msg'] != '<Media omitted>\n']['msg'].values

array(['Ooy bhai\n', 'Bol\n', 'Aayi gayo phone\n', ...,
       'https://www.instagram.com/reel/Cs-pHJgNuen/?igshid=NzJjY2FjNWJiZg==\n',
       'https://www.instagram.com/reel/CslX2PHtv97/?igshid=NzJjY2FjNWJiZg==\n',
       'https://www.instagram.com/reel/CtWNZGAgrzt/?igshid=ZmUwZmJhYzgwMQ==\n'],
      dtype=object)

In [109]:
!pip install urlextract

Collecting urlextract
  Using cached urlextract-1.8.0-py3-none-any.whl (21 kB)
Collecting uritools
  Using cached uritools-4.0.1-py3-none-any.whl (10 kB)
Requirement already satisfied: idna in c:\users\zephyrus\anaconda3\lib\site-packages (from urlextract) (3.4)
Requirement already satisfied: platformdirs in c:\users\zephyrus\anaconda3\lib\site-packages (from urlextract) (2.5.2)
Requirement already satisfied: filelock in c:\users\zephyrus\anaconda3\lib\site-packages (from urlextract) (3.9.0)
Installing collected packages: uritools, urlextract
Successfully installed uritools-4.0.1 urlextract-1.8.0

In [112]:
from urlextract import URLExtract
extractor = URLExtract()
if not extractor.has_urls('samarth https://www.instagram.com/reel/CtWNZGAgrzt/?igshid=ZmUwZmJhYzgwMQ==\n'):
    print('hii')

In [114]:
len('Aayi gayo phone\n'.split())

3

In [125]:
df1[df1['msg'] == '<Media omitted>\n'].shape[0]

553

In [128]:
num_of_urls = 0
for i in df['msg'].values:
    if extractor.has_urls(i):
        num_of_urls = num_of_urls + 1
        
num_of_urls

84

In [151]:
df2 = pd.DataFrame(df['users'].value_counts())
df2.columns = ['Messages']
df2

            Messages
Ravi Dasai      7078
Samarth         4977

In [156]:
cln_df = df[df['msg'] != '<Media omitted>\n']
cln_df

,users,msg,year,month,day,hour,minute
0,Samarth,Ooy bhai\n,2021,October,7,13,42
1,Ravi Dasai,Bol\n,2021,October,7,13,42
2,Samarth,Aayi gayo phone\n,2021,October,7,13,42
3,Ravi Dasai,Photo moklje\n,2021,October,7,13,43
4,Samarth,ü•≥ü•≥\n,2021,October,7,13,43
...,...,...,...,...,...,...,...
12046,Samarth,ü•≤ü•≤\n,2023,June,3,20,48
12047,Ravi Dasai,0 communication skill\n,2023,June,3,20,48
12049,Ravi Dasai,https://www.instagram.com/reel/Cs-pHJgNuen/?ig...,2023,June,6,11,55
12053,Ravi Dasai,https://www.instagram.com/reel/CslX2PHtv97/?ig...,2023,June,8,0,50
12054,Ravi Dasai,https://www.instagram.com/reel/CtWNZGAgrzt/?ig...,2023,June,16,9,58

In [182]:
sw = open('stop_hinglish.txt', encoding = 'utf-8').read()
sw = sw.replace('\n', ' ')

In [183]:
s1 = ''
for i in cln_df['msg'].values:
    # Removing URL
    if not extractor.has_urls(i):
        for word in i.split():
            if word not in sw:
                s1 = s1 + ' ' + word.split(sep = '\n')[0]

In [175]:
'ü•≤\n'.split(sep = '\n')

['ü•≤', '']

In [201]:
from collections import Counter
df3 = pd.DataFrame(Counter(s1.split(sep = ' ')).most_common(25))
df3

         0    1
0       6e  899
1       Ha  749
2      lya  555
3     Alya  523
4      Lya  509
5        üòÇ  328
6       üòÇüòÇ  257
7       üòÜüòÜ  249
8       To  215
9      Pan  195
10  khabar  194
11      nu  192
12      Na  160
13      Tu  137
14   badhu  129
15   badha  126
16    aave  123
17       üôÇ  121
18    male  119
19      Su  117
20    Mane  108
21      Te  107
22    iiit  101
23    gayu   99
24    Have   97

In [190]:
import matplotlib.pyplot as plt

In [209]:
df3.set_index(df3[0], drop = True)[1]

array([899, 749, 555, 523, 509, 328, 257, 249, 215, 195, 194, 192, 160,
       137, 129, 126, 123, 121, 119, 117, 108, 107, 101,  99,  97],
      dtype=int64)

In [211]:
!pip install emoji
import emoji

Collecting emoji
  Using cached emoji-2.5.1.tar.gz (356 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: emoji
  Building wheel for emoji (setup.py): started
  Building wheel for emoji (setup.py): finished with status 'done'
  Created wheel for emoji: filename=emoji-2.5.1-py2.py3-none-any.whl size=351235 sha256=39083aeb045d07d66c4f8b050c544d92e8d9882b7e5d0a8a03de21b87e81c478
  Stored in directory: c:\users\zephyrus\appdata\local\pip\cache\wheels\eb\20\3c\5fd1add8fe5078a1fccc478726dfe8558eca5bfa5ba5b28405
Successfully built emoji
Installing collected packages: emoji
Successfully installed emoji-2.5.1

In [226]:
emo = list()
for i in df['msg']:
    for j in i.split():
        if emoji.is_emoji(j):
            emo.append(j)

In [233]:
list_of_emoji_used = list()
for i in emo:
    if i == 'üò∂\u200düå´':
        list_of_emoji_used.append('üò∂')
    elif i == 'ü§¶\u200d‚ôÇÔ∏è':
        list_of_emoji_used.append('ü§¶')
    elif i == 'üôÜ\u200d‚ôÇÔ∏è':
        list_of_emoji_used.append('üôÜ')
    else:
        list_of_emoji_used.append(i)

        
pd.DataFrame(Counter(list_of_emoji_used).most_common(15))

     0    1
0    üòÇ  328
1    üôÇ  121
2    üôÑ   75
3    ü•≤   71
4    üòÜ   48
5    üòÖ   44
6    üåù   39
7    ü§£   25
8    üëç   20
9    üòí   19
10   üò≥   17
11  ‚òùÔ∏è   16
12   ü•∫   16
13   üòå   14
14   üò¨   14

In [234]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
months

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

In [242]:
year = 2021
month_wise_num_of_message = list()

temp = df[df['year'] == year]

for month in months :
    month_wise_num_of_message.append(temp[temp['month'] == month].shape[0])
ans = pd.DataFrame({'Month' : months, 'Num of Messages' : month_wise_num_of_message})
ans

        Month  Num of Messages
0     January                0
1    February                0
2       March                0
3       April                0
4         May                0
5        June                0
6        July                0
7      August                0
8   September                0
9     October             3613
10   November             2332
11   December              974

In [251]:
timeline = df.groupby(['year', 'month']).count()['msg'].reset_index()

In [252]:
time = []
for i in range(timeline.shape[0]):
    time.append(timeline['month'][i] + "-" + str(timeline['year'][i]))

time

['December-2021',
 'November-2021',
 'October-2021',
 'April-2022',
 'December-2022',
 'February-2022',
 'January-2022',
 'March-2022',
 'November-2022',
 'October-2022',
 'April-2023',
 'February-2023',
 'January-2023',
 'June-2023',
 'March-2023',
 'May-2023']